extends ../common/_layout
block vars
  -
    const PROD = false;
  include ./_project_mixins

block content
  section.promo
    .container
      //- +
      .promo__header
        a.logo(href=$.site target="_blank"): img(src="./i/logo.png" width="90" height="90" alt="Go to FBS")
      //- +
      .h2.promo__title
        strong
          != $.p0
          br
          != $.p1
        h3
          != $.p2
      +form
      .slogan!= $.p3
  //- +
  section.benefits
    .container.container--benefits
      h2.benefits__title!= $.p4
      .fl-row
        each benefit in benefits
          +benefit(benefit)
  //- +
  section.bullets
    h2.bullets__title!= $.p13
    .container
      each bullet in bullets
        +bullet(bullet)
  //- +
  footer.page-footer
    .container
      +form
      .support-email
        a(href="mailto:support@fbs.com") support@fbs.com
      .sprite.sprite-layer
      .page-footer__c © 2016 FBS Market inc.

  case $.lang
    when 'vi'
      script.
        WebFontConfig = {
          google: { families: [ 'Roboto+Condensed:400,700&amp;subset=vietnamese' ] }
        };

    when 'ja'
      style.
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
          font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }
    when 'my'
      script.
        WebFontConfig = {
          google: { families: [ 'Padauk:400,700&amp;subset=myanmar' ] }
        };
    default
      script.
        WebFontConfig = {
          google: { families: [ 'Playfair+Display:400,700', 'Raleway:400, 700' ] }
        };

  if $.lang !=='ja'
    script.
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
