.page-footer {
  background-color: $color-alter-bg;
  color: #fff;
  padding: 50px 0 30px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 50px 0 70px;
  }

  &__c {
    font-size: 14px;
    padding-top: 50px;
  }

  &__e {
    color: #ffffff;
    line-height: 21px;
    font-size: 14px;
    display: inline-block;
    margin-top: 30px;
  }
}
