// SPRITE GENERATES
// FROM TEMPLATE AUTOMATICALLY

.i {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

{{#shapes}}
.i--{{base}} {
  font-size: ({{height.inner}}/10)*1rem;
  width: ({{width.inner}}/{{height.inner}})*1em;
}

{{/shapes}}
