.benefits {
  padding: 30px 0;
  text-align: center;

  &__title {
    margin-bottom: 40px;

  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media(min-width:768px) {
    padding: 40px 0 10px;

    // .row {
    //   margin-left: -15px;
    //   margin-right: -15px;
    // }



    // [class^='col-']:first-child {
    //   padding-left: 0;
    // }

    // [class^='col-']:last-child {
    //   padding-right: 0;
    // }
  }
}

.benefit {
  background-color: #fff;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 auto 20px;
  max-width: 430px;
  // min-height: 360px;
  padding: 30px 15px;
  text-align: center;

  @media(min-width:768px) {
    min-height: 340px;
    padding: 30px 0;
  }

  &__thumb {
    height: 120px;
    margin-bottom: 35px;
    position: relative;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  &__body {
    @media(min-width:768px) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 21px;
    // margin-bottom: 30px;
  }
}

footer {
  background: #000;
}


.i {
  background-image: url('#{$src}/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.i--availability {
    width: 113px;
    height: 112px;
    background-position: -5px -5px;
}

.i--barriers {
    width: 122px;
    height: 99px;
    background-position: -5px -127px;
}

.i--high-profits {
    width: 116px;
    height: 114px;
    background-position: -137px -5px;
}

.i--withdrawal {
    width: 124px;
    height: 88px;
    background-position: -137px -129px;
}

.fl-row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  [class^='col'] {
    display: flex;
  }
}
