.page-footer {
  background-color: $color-alter-bg;
  color: #fff;
  padding: 50px 0 30px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 50px 0 70px;
  }

  &__c {
    font-size: 14px;
    padding-top: 50px;
  }
}
