.promo {

  color: #fff;
  padding: 30px 0;
  text-align: center;

  background-color: #000;

  &__header {
    .slogan {
      text-align: center;
    }
  }

  &__title,
  &__sub {

    color: #fff;

    font-size: 16px;
    line-height: 24px;
    text-align: center;

    @media(min-width: 768px) {
      font-size: 19px;
    }

  }

  &__title {
    text-align: center;
  }

  &__sub {
    margin-bottom: 20px;
  }


  @media(min-width: 450px) {
    // background-image: url('./i/bg-768.jpg');

  }
  @media(min-width: 768px) {

    &__header {
      display: table;
      // margin: 0 auto 110px;
      margin: 0 auto;

      @media (min-width: 960px) {
        margin-bottom: 30%;
      }
      @media (min-width: 1200px) {
        margin-bottom: 35%;
      }
    }
  }

  @media(min-width: 960px) {


    background: #000 url('#{$src}/bg.jpg') 50% 100px  no-repeat;
    background-size: 1000px;

  }
  @media(min-width: 1200px) {
    background-size: 1100px;
  }
  @media (max-height: 850px) and (min-width: 1024px) {
    padding: 15px 0;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 20px;

  img {
    display: block;
    height: auto;
    max-width: 79px;

    @media(min-width: 960px) {
      max-width: 90px;
    }
  }
}

.slogan {
  color: #fff;
  line-height: 1;
  margin-bottom: 45px;
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }

  &__sub {
    font-size: 18px;
    @media(min-width: 960px) {
      font-size: 30px;
    }
  }
}

.h1.slogan {
  margin-bottom: 35px;
}

