extends ../common/_layout
block vars
  -
    const PROD = false;

  include ./_project_mixins

block content
  section.promo
    .container
      //- +
      .promo__header
        a.logo(href=$.site target="_blank"): img(src="./i/logo.png" width="90" height="90" alt="Go to FBS")
        h1.slogan
          .slogan__title!= $.p0
          .slogan__sub!= $.p1
        img.hide-md.img-responsive(src="./i/bg.jpg")

      //- +
      .promo__title!= $.p2
      .promo__sub
        div!= $.p3
        div!= $.p4
      +form
  //- +
  section.benefits
    .container.container--fluid
      h2.benefits__title!= $.p6
      .fl-row
        each benefit in benefits
          +benefit(benefit)
  //- +
  section.bullets
    h2.bullets__title!= $.p15
    .container
      each bullet in bullets
        +bullet(bullet)
  //- +
  footer.page-footer
    .container.container--full.page-footer__wrapper
      .row
        .col-md-6
          img.img-responsive.page-footer__thumb(src="./i/car.jpg" width="849" height="424")
        .col-md-6.page-footer__form
          +form
    a.page-footer__e(href="mailto:support@fbs.com" target="_blank") support@fbs.com
    .page-footer__c © 2016 FBS Market inc.

  case $.lang
    when 'vi'
      script.
        WebFontConfig = {
          google: { families: [ 'Roboto+Condensed:400,700&amp;subset=vietnamese' ] }
        };

    when 'ja'
      style.
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
          font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }
        .slogan__title {

        }
    when 'my'
      script.
        WebFontConfig = {
          google: { families: [ 'Padauk:400,700&amp;subset=myanmar' ] }
        };
    default
      script.
        WebFontConfig = {
          google: { families: [ 'Open+Sans:300,400,600,600i&amp;subset=latin-ext,vietnamese' ] }
        };

  if $.lang !=='ja'
    script.
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
