.benefits {
  padding-bottom: 10px;
  text-align: center;
  font-weight:400;

  &__title {
    color: $color-accent;

    @media(min-width:768px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1 {
    font-size: 26px;
    font-weight: 400;

    @media (min-width: 768px) {
      font-size: 36px;
    }

    @media (min-width: 960px) {
      font-size: 44px;
    }

    @media (min-width: 1200px) {
      font-size: 52px;
    }
  }
  
  .h1 {
    margin-top: 45px;
    margin-bottom: 30px;
  }
  
  h3 {
    margin-bottom: 30px;
    font-size: 18px;

    @media (min-width: 960px) {
      font-size: 24px;
    }

    @media (min-width: 1200px) {
      font-size: 30px;
    }
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media(min-width:768px) {

    // .row {
    //   margin-left: -15px;
    //   margin-right: -15px;
    // }



    // [class^='col-']:first-child {
    //   padding-left: 0;
    // }

    // [class^='col-']:last-child {
    //   padding-right: 0;
    // }
  }
}

.benefit {
  background-color: #fff;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 auto 20px;
  max-width: 430px;
  // min-height: 360px;
  padding: 30px 15px;
  text-align: center;

  @media(min-width:768px) {
    min-height: 390px;
    padding: 30px 0;
  }

  h3 {
    font-size: 18px;
  }
  &__thumb {
    height: 140px;
    margin-bottom: 35px;
    position: relative;

    .i--timer {
      bottom: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
    }
  }

  &__body {
    @media(min-width:768px) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 21px;
    // margin-bottom: 30px;
  }
}

footer {
  background: #000;
}


.i {
  background-image: url('../i/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.i--mony {
  width: 123px;
  height: 110px;
  background-position: -5px -5px;
  margin: 15px 0;
}

.i--crown {
  width: 125px;
  height: 102px;
  background-position: -5px -125px;
  margin: 19px 0;
}

.i--barriers {  
  width: 116px;
  height: 120px;
  background-position: -140px -81px;
  margin: 10px 0;
}

.i--pie {
  width: 200px;
  height: 66px;
  background-position: -138px -5px;
  margin: 37px 0;
}


.fl-row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  [class^='col'] {
    display: flex;
  }
}
