.promo {

  // background: #000 url('../i/bg-320.jpg') top center / cover no-repeat;
  background-color: #6fdcf7;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  position: relative;


  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    background: url('../i/clouds.png') center bottom no-repeat;
    height: 40px;
    background-size: contain;
    @media (min-width:768px) {
      height: 106px;
      background-position: center top;
      background-size: cover;
    }
  }

  &__header {
    .slogan {
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 50px;
    text-shadow: #000 0 0 5px;

    strong {
      font-size: 24px;
      font-weight: 700;
    }
    @media(min-width: 768px) {
      font-size: 38px;
      margin-bottom: 100px;
      text-shadow: none;
      /* stylelint-disable */
      strong {
        font-size: 42px;
      }
      @media(min-width: 1200px) {
        font-size: 44px;
        strong {
          font-size: 48px;
        }
      }
      /* stylelint-enable */
    }
    @media (max-height: 850px) and (min-width: 1024px) {
      margin-bottom: 70px;
    }
  }

  &__man {
    margin: -40px auto 0;
    @media(min-width: 768px) {
      margin-top: -110px;
    }
  }

  @media(min-width: 768px) {
    padding: 60px 0 106px;

    &__header {
      display: table;
      margin: 0 auto;

      @media (max-height: 850px) and (min-width: 1024px) {
        margin-bottom: 70px;
        margin-top: 70px;
      }

      /* stylelint-disable */
      .logo {
        display: table-cell;
      }

      .slogan {
        display: table-cell;
        padding-left: 15px;
        vertical-align: top;

        position: relative;
        top: -5px;
      }

    }

    @media(min-width: 768px) {
      &__header {
        .slogan {
          padding-left: 20px;
        }
      }

    }

  }

  @media (max-height: 850px) and (min-width: 1024px) {
    padding: 15px 0;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 20px;

  img {
    display: block;
    height: auto;
    max-width: 79px;

    @media(min-width: 960px) {
      max-width: 90px;
    }
  }
}

.slogan {
  color: #fff;
  line-height: 1;
  margin-bottom: 45px;
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }

  &__sub {
    font-size: 18px;
    @media(min-width: 960px) {
      font-size: 24px;
      max-width: 80%;
    }
    @media (min-width: 768px) and (max-width: 959px) {
      max-width: 70%;
    }
  }
}

.h1.slogan {
  margin-bottom: 35px;
}
