body {
  font-family: $font-regular;
  min-width: 320px;
  margin: 0 auto;
}

h2,
.h2,
h3,
.h3 {
  color: $color-accent;
  font-family: $font-header;
  margin: 0;
}

h1,
.h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;

  @media (min-width: 960px) {
    font-size: 30px;
  }

  @media (min-width: 1200px) {
    font-size: 38px;
  }
}

h2,
.h2 {
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 960px) {
    font-size: 24px;
  }
}

h3 {
  @media (min-width: 768px) {
    font-size: 30px;
  }
  font-size: 27px;
  margin-bottom: 15px;
  font-weight: 400;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 640px;
  padding: 0 15px;


  @media(min-width: 960px) {
    max-width: 740px;
  }

  @media(min-width: 1200px) {
    max-width: 755px;
  }
  @media(min-width: 1900px) {
    max-width: 880px;
  }
}


