@import '../../common/style/common';
@import './base/variables';
@import './base/typo';
@import './blocks/promo';
@import './blocks/form';
@import './blocks/benefits';
@import './blocks/bullets';
// @import './blocks/footer';

@import './base/icons';

// .show-sm {
//   display: none;

//   @media(min-width: 768px) {
//     display: block;
//   }
// }

// .rtl {
//   direction: rtl;

//   .promo__header .slogan {
//     padding-left: 0;
//     padding-right: 15px;
//   }

//   @media (min-width: 768px) {
//     .promo__header .slogan {
//       padding-left: 0;
//       padding-right: 30px;
//     }
//   }
//   .bullet__body {
//     padding-left: 0;
//     padding-right: 15px;
//     text-align: right;

//     @media (min-width: 768px) {
//       padding-right: 35px;
//     }
//   }
//   .checkbox__icon {
//     padding-right: 0;
//     padding-left: 10px;
//   }
// }


body {
  // background-color: #4ca3cb;
}

.bg-group {
  background: #4ca3cb url('#{$src}clouds-768.png') bottom center / contain no-repeat;

  @media (min-width: 768px) {
    background-color: #4ca3cb;
    background-image: url('#{$src}clouds-1920.png'), url('#{$src}line-left-1920.png'), url('#{$src}line-right-1920.png');
    background-position: center bottom, center left, center right;
    background-repeat: no-repeat;
    background-size: contain, auto, auto;
  }
}

.page-footer {
  padding-bottom: 20px;
  text-align: center;

  &__form {
    font-size: 0;
    margin-bottom: 40px;
  }

  &__e {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    color: #342e37;
    font-size: 14px;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 75px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__c {
    font-size: 14px;
    direction: ltr;
  }
}
.rtl {
  direction: rtl;
  .ticket {
    direction: ltr;
  }
  .ticket__title {
    text-align: right;
    padding-right: 25px;
    padding-left: 15px;
  }
  .form__input {
    text-align: right;
  }

    @media (min-width:768px) {
      .bullet__body {
      text-align: right;
    }
  }
}

.text-center {
  text-align: center;
}
