.benefits {
  padding: 30px 0;
  text-align: center;

  &__title {
    margin-bottom: 40px;
    font-size: 30px;
    color: #342e37;

    @media(min-width:768px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
    }
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media(min-width:768px) {
    padding: 40px 0 10px;

    // .row {
    //   margin-left: -15px;
    //   margin-right: -15px;
    // }



    // [class^='col-']:first-child {
    //   padding-left: 0;
    // }

    // [class^='col-']:last-child {
    //   padding-right: 0;
    // }
  }
}

.benefit {
  background-color: #fff;
  // box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  // margin: 0 auto 20px;
  max-width: 430px;
  // min-height: 360px;
  padding: 30px 15px;
  text-align: center;

  @media(min-width:768px) {
    min-height: 390px;
    padding: 30px 0;
  }

  &__thumb {
    height: 140px;
    margin-bottom: 15px;
    position: relative;

    .i--timer {
      bottom: 0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
    }
  }

  &__body {
    @media(min-width:768px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__desc {
    font-size: 12px;
    line-height: 21px;
    // margin-bottom: 30px;
  }
  &__title{
    color:#000000;
    font-size:16px;
    height: 30px;
  }
}

footer {
  background: #000;
}


.i {
  background-image: url('#{$src}sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}



.i--medal {
    width: 132px;
    height: 132px;
    background-position: -5px -5px;
}
.i--present {
    width: 128px;
    height: 128px;
    background-position: -147px -5px;
}

.i--profit {
    width: 129px;
    height: 129px;
    background-position: -285px -5px;
}

.i--time {
    width: 131px;
    height: 130px;
    background-position: -147px -144px;
}

.fl-row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  [class^='col'] {
    display: flex;
  }
}
