.page-footer {
  background-color: #3587a4;
  color: #fff;
  padding: 50px 0 30px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 50px 0 20px;
  }
  &__e {
    color: #fff;
    display: inline-block;
    margin-top: 50px;
  }
  &__c {
    font-size: 14px;
    margin-top: 50px;
  }
}
