.form {
  margin: 0 auto;
  max-width: 700px;

  &__group {
    margin-bottom: 20px;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__input {
    background-color: #ffffff;
    box-sizing: border-box;
    color: $color-accent-darker;
    font-family: $font-regular;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17px;
    border: 1px solid #fff;

    &::placeholder {
      color: $color-accent-darker;
    }

    &.is-block {
      display: block;
      width: 100%;
    }
  }
}

.checkbox {
  display: inline-block;
  font-size: 14px;
  outline: none;
  position: relative;
  text-align: center;

  // STATE
  // &:active,
  // &:focus {
  //   .checkbox__label::before {
  //     border-color: #bebebe;
  //   }
  // }
  // ELEMENTS
  a {
    color: inherit;

    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }

  &__input {
    display: none;
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    padding-right: 10px;

    &::before {
      border: 2px solid #ffffff;
      box-sizing: border-box;
      content: '';
      height: 24px;
      left: 0;
      position: absolute;
      top: 6px;
      // margin-top: 12px;
      width: 24px;
    }
  }

  &__label {
    cursor: pointer;
    vertical-align: middle;
    // padding-left: 34px;

    // &:hover {
    //   &::before {
    //   }
    // }
  }

  &__label-title {
    display: inline-block;
    // padding-left: 34px;
  }
  // COMBO
  // &__input + &__label .i--arrow {
  //   stroke: red;
  //   display: none;
  //   font-size: 8px;
  //   left: 4px;
  //   margin-top: -4px;
  //   position: absolute;
  //   top: 50%;
  // }
  // IS CHECKED

  &__input:checked + &__label &__icon::before {
    // border-color: $brand-primary;
    // background-color: $brand-primary;
    background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="15.537" height="13.144" viewBox="0 0 15.537137416366022 13.143966807818288"><title>check</title><path d="M1.099 6.452l5.36 5.59 7.79-10.97" fill="none" stroke="#fff" stroke-miterlimit="50" stroke-width="2"/></svg>') center center no-repeat;
  }
}

.btn {
  box-sizing: border-box;
  cursor: pointer;
  font-family: $font-regular;
  font-size: 18px;
  line-height: 1;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;


  &--brand {
    background-color: #f9c22e;
    color: #1d263b;
    font-weight: bold;
  }

  &.is-fx-width {
    margin: 0 auto;
    width: 100%;
    @media(min-width: 768px) {
      max-width: 320px;
    }
  }
}
