.promo {

  background: #c1dff0 url('#{$src}bg-320.jpg') top center / cover no-repeat;
  color: #fff;
  padding: 30px 0;
  text-align: center;

  box-sizing: border-box;

  position: relative;

  &__header {
    text-align: right;
    .slogan {
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 50px;
    text-shadow: #000 0 0 5px;

    strong {
      font-size: 24px;
      font-weight: 700;
    }
    @media(min-width: 768px) {
      font-size: 38px;
      margin-bottom: 100px;
      text-shadow: none;
      /* stylelint-disable */
      strong {
        font-size: 42px;
      }
      @media(min-width: 1200px) {
        font-size: 44px;
        strong {
          font-size: 48px;
        }
      }
      /* stylelint-enable */
    }
    @media (max-height: 850px) and (min-width: 1024px) {
      margin-bottom: 70px;
    }
  }

  @media(min-width: 450px) {
    background-image: url('#{$src}bg-768.jpg');
    background-size: cover;
  }
  @media(min-width: 768px) {
    // padding: 60px 0;

    &__header {
      // display: table;
      margin: 0 auto 110px;

      @media (max-height: 850px) and (min-width: 1024px) {
        margin-top: 15px;
        // margin-right: 90px;
      }

      /* stylelint-disable */
      .logo {
        display: inline-block;
      }

      .slogan {
        display: table-cell;
        padding-left: 15px;
        vertical-align: top;

        position: relative;
        top: -5px;
      }

    }

    @media(min-width: 768px) {
      &__header {
        .slogan {
          padding-left: 30px;
        }
      }

    }
     /* stylelint-enable */
  }

  @media(min-width: 960px) {
    background-image: url('#{$src}bg-960.jpg');
    min-height: 630px;
  }
  @media(min-width: 1200px) {
    background-image: url('#{$src}bg-1200-alter.jpg');
    background-size: auto;
    background-position: center bottom;
  }
  @media (max-height: 850px) and (min-width: 1024px) {
    padding: 15px 0;
  }
  @media(min-width: 1840px) and (max-width: 1980px) {
    background-image: url('#{$src}bg-1200-alter.jpg');
    background-size: cover;
  }
}

.logo {
  display: inline-block;

  // margin-bottom: 20px;
    @media(min-width: 960px) {
      margin-right: 50px;
    }

  img {
    display: block;
    height: auto;
    max-width: 79px;

    @media(min-width: 960px) {
      max-width: 90px;
    }
  }
}

.slogan {
  color: #fff;
  line-height: 1;
  margin-bottom: 45px;
  text-align: center;

  &__title {
    margin-bottom: 15px;
    font-weight:bold;
    font-size:42px;
    text-transform:uppercase;
    margin-bottom: 10px;
    @media(max-width: 450px) {
      font-size: 22px;
    }
  }

  &__sub {
    font-size: 16px;
    @media(min-width: 960px) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }
}

.h1.slogan {
  margin-bottom: 35px;
  max-width:465px;
  margin: 0 auto;
  margin-top:235px;
    @media(max-width: 450px) {
      margin-top:140px;
    }
    @media (min-width: 960px) {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
    }
}
