extends ../common/_layout
block vars
  -
    const PROD = false;
  include ./_project_mixins

block content
  section.promo
    //- +
    .promo__header
      .container
        a.logo(href=$.site target="_blank"): img(src="./i/logo.png" width="90" height="90" alt="Go to FBS")
        .h1.promo__sub!= $.p0
    .promo__ticket
      .ticket
        .ticket__wrapper
          h1.ticket__title!= $.p1
          .ticket__form
            +form
    //- +
    .slogan
      h2.slogan__title!=$.p3
      .slogan__sub!= $.p4
      .slogan__sub!= $.p5
  //- +
  section.benefits
    .container
      h2.benefits__title!= $.p6
    .container.container--fluid
      each benefit in benefits
        +benefit(benefit)
  .bg-group
    //- +
    section.bullets
      h2.bullets__title!= $.p15.toUpperCase()
      each bullet in bullets
        +bullet(bullet)
    //- +
    footer.page-footer
      .container
        .page-footer__form
          +form
        a.page-footer__e(href="mailto:support@fbs.com" target="_blank") support@fbs.com
        .page-footer__c © 2017 FBS Market inc.

  case $.lang
    //- when ('id' || 'ms' || 'vi')
    when 'vi'
      style.
        .slogan {
          max-width: 680px;
        }
        @media(min-width:768px) {
          .slogan::before { background-position: 125px 10px;}
        }
    when 'ms'
      style.
        .slogan {
          max-width: 680px;
        }
        @media(min-width:768px) {
          .slogan::before { background-position: 125px 10px;}
        }

    when 'id'
      style.
        .slogan {
          max-width: 680px;
        }
        @media(min-width:768px) {
          .slogan::before { background-position: 125px 10px;}
        }

    when 'ja'
      style.
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
          font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }
    when 'my'
      style.
        .ticket::before {
          display: none;
        }

      script.
        WebFontConfig = {
          google: { families: [ 'Padauk:400,700&amp;subset=myanmar' ] }
        };
    default
      script.
        WebFontConfig = {
          google: { families: [ 'Open+Sans:300,400,600,600i&amp;subset=latin-ext,vietnamese' ] }
        };

  if $.lang !=='ja'
    script.
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
