.bullets {
  padding: 40px 0 20px;
  background-color: $color-alter-bg;    

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }
}

.bullet {
  display: table;
  margin-bottom: 15px;
  max-width: 730px;
  width: 100%;

  @media(min-width:768px) {
    margin-bottom: 35px;
  }

  &__thumb,
  &__body {
    display: table-cell;
    vertical-align: top;
  }

  &__thumb {
    text-align: center;
    vertical-align: middle;
    width: 100px;

    svg {
      height: auto;
      width: 50px;

      @media (min-width: 768px) {
        width: 70px;
      }

    }
  }

  &__body {
    padding-left: 15px;
    text-align: left;

    @media (min-width: 768px) {
      padding-left: 35px;
    }
  }
  &__desc {
    font-size: 14px;
    line-height: 21px;
    color: $color-accent;  
  }
}
