.page-footer {
  background-color: $color-alter-bg;
  color: #fff;
  padding: 10px 0 10px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 10px 0 15px;
  }

  &__c {
    font-size: 14px;
  }
}
.sprite-layer {
    width: 61px;
    height: 36px;
    background-position: -169px -5px;
    margin: 30px auto 40px auto;
}
.support-email {
    text-align: center;
    margin-top: 80px;
  a {
        color: $color-accent;
        font-size: 14px;
   }
}