.bullets {
  color: #fff;
  padding-top: 30px;
  text-align: center;

  max-width: 705px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;


  &__title {
    color: #fff;
    margin-bottom: 25px;
  }
}

.bullet {
  margin-bottom: 40px;
  text-align: center;

  @media (max-width: 767px) {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 768px) {
    display: table;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  &__body {
    @media (min-width: 768px) {
      display: table-cell;
      vertical-align: top;
    }
  }

  &__thumb {
    margin-bottom: 20px;

    @media (min-width: 768px) {
      display: table-cell;
      vertical-align: top;
      width: 60px;

      i {
        transform: scale(0.61);
      }
    }
  }

  &__title {
    color: #fff;
    margin-bottom: 5px;
  }
  &__desc {
    font-size: 14px;

    max-width: 550px;

    @media(min-width:768px) {
      line-height: 21px;
    }
  }
}

