@import '../../common/style/common';
@import './svg-sprite';

@import './base/variables';
@import './base/dev';
@import './base/typo';
@import './blocks/promo';
@import './blocks/form';
@import './blocks/benefits';
@import './blocks/bullets';
@import './blocks/footer';

.show-sm {
  display: none;

  @media(min-width: 768px) {
    display: block;
  }
}

.rtl {
  direction: rtl;

  .promo__header .slogan {
    padding-left: 0;
    padding-right: 15px;
  }

  @media (min-width: 768px) {
    .promo__header .slogan {
      padding-left: 0;
      padding-right: 30px;
    }
  }
  .bullet__body {
    padding-left: 0;
    padding-right: 15px;
    text-align: right;

    @media (min-width: 768px) {
      padding-right: 35px;
    }
  }
  .checkbox__icon {
    padding-right: 0;
    padding-left: 10px;
  }
  .page-footer__c {
    direction: ltr;
  }
}
