block vars

html(lang=$.lang)
  doctype html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property='og:site_name', content='FBS')
    meta(property='og:title', content=`${$.p0} ${$.p1}`)
    meta(property='og:description', content=`${$.p2} ${$.p3}`)
    meta(property='og:type', content='website')
    meta(property="og:image" content="https://fbs.com/img/meta/1/Ly-d5RfO4fYE0Mpf_1200x630_q95.jpg")

    title!= `${$.p0} ${$.p1}`

    if PROD
      != `<!-- inject-style src="./build/${task}/style/main.css" -->`
    else
      link(rel="stylesheet", href="./style/main.css")
    link(href="https://fbs.com/images/favicon.ico" rel="shortcut icon")

  body&attributes({'class': `${($.lang === 'ar') ? 'rtl' : '' }`})
    | <!-- Google Tag Manager -->
    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=GTM-MD3F98" height="0" width="0" style="display:none;visibility:hidden")
      script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MD3F98');
    | <!-- End Google Tag Manager -->
    block content
